@page "/genre/{genreId:int}"
@using CodeTestWexo.Interfaces
@rendermode InteractiveServer
@inject IGenreRepository GenreRepository
@inject NavigationManager navigationManager

<h3>@genreName</h3>
<p>Total Movies: @paginatedMovies.TotalResults</p>

@if (paginatedMovies?.Movies == null)
{
    <p>Loading movies...</p>
}
else
{
    <div class="movies-grid">
        @foreach (var movie in paginatedMovies.Movies.Take(14))
        {
            <div class="movie-item" @onclick="() => NavigateToMovieDetails(movie.Id)">
                <img src="@($"https://image.tmdb.org/t/p/w500{movie.PosterPath}")" alt="@movie.Title" />
                <p>@movie.Title</p>
            </div>
        }
    </div>
}

<!-- Pagination Controls -->
<div class="pagination">
    <button @onclick="() => ChangePage(-1)" disabled="@IsPreviousDisabled()">Previous</button>
    <span>Page @paginatedMovies?.CurrentPage of @paginatedMovies?.TotalPages</span>
    <button @onclick="() => ChangePage(1)" disabled="@IsNextDisabled()">Next</button>
</div>