@page "/movie/{movieId:int}"
@using CodeTestWexo.Interfaces
@using CodeTestWexo.Models.Movies
@inject IMovieRepository MovieRepository
@inject ICreditRepository CreditsRepository
@rendermode InteractiveServer
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@if (movie == null)
{
    <p>No movies found...</p>
}
else
{
    <div class="movie-details-cover" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@($"https://image.tmdb.org/t/p/original{movie.BackdropPath}")'); background-size: cover; background-position: center;">
        <div class="movie-details-grid">
            <div class="movie-poster-container">
                @if (!string.IsNullOrEmpty(movie.PosterPath))
                {
                    <img src="@($"https://image.tmdb.org/t/p/w500{movie.PosterPath}")" class="movie-poster" alt="@movie?.Title"/>
                }
            </div>

            <div class="movie-info">
                <h3>@movie?.Title</h3>

                <p>
                    <strong>Description:</strong> @movie?.Overview
                </p>

                <p>
                    <strong>Release Year:</strong> @movie?.ReleaseDate.Year
                </p>

                <p>
                    <strong>Rating:</strong> @movie?.VoteAverage.ToString("F1")
                </p>

                <p>
                    <strong>Overall votes:</strong> @movie?.VoteCount
                </p>

                <p>
                    <strong>Genre(s):</strong> @string.Join(", ", movie.Genres.Select(g => g.Name))
                </p>

                <button @onclick="ToggleWishlist" class="wishlist-btn @GetButtonClass()">
                    @if (movieWishList.Contains(movie.Id))
                    {
                        <span>Remove from Wishlist</span>
                    }
                    else
                    {
                        <span>Add to Wishlist</span>
                    }
                </button>
            </div>
        </div>
    </div>
    <div class="video-container">

        @if (videos == null)
        {
            <p class="no-trailer-message">No trailers available</p>
        }
        else if (videos.FirstOrDefault(v => v.Type?.ToLower() == "trailer") is MovieVideo trailer)
        {
            <h4> Watch Trailer </h4>
            <div class="video-item">
                <iframe src="https://www.youtube.com/embed/@trailer.Key" frameborder="0" allowfullscreen></iframe>
            </div>
        }
    </div>
    
    <div class="crews-container">
        <h4>Directors:</h4>
        @if (crews.Any())
        {
            <div class="crews-row">
                @foreach (var crew in crews)
                {
                    <div class="crew-item">
                        @if (!string.IsNullOrEmpty(crew.ProfilePath))
                        {
                            <img src="@($"https://image.tmdb.org/t/p/w200{crew.ProfilePath}")" alt="@crew.Name"/>
                        }
                        else
                        {
                            <img src="https://via.placeholder.com/200x300.png?text=No+Image" alt="No Image Available"/>
                        }
                        <p style="font-weight: bold">@crew.Name</p>
                        <p>@crew.Job</p>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No crews available for this movie.</p>
        }
    </div>

    <div class="actors-container">
        <h4>Actors:</h4>
        @if (displayedActorCount < casts.Count)
        {
            <button @onclick="LoadMoreActors" class="crewandcast-btn">Load More Actors</button>
        }
        else
        {
            <button @onclick="FoldActors" class="crewandcast-btn">Fold crew</button>
        }
        @if (casts.Any())
        {
            <div class="actors-row">
                @foreach (var actor in casts.Take(displayedActorCount))
                {
                    <div class="actor-item">
                        @if (!string.IsNullOrEmpty(actor.ProfilePath))
                        {
                            <img src="@($"https://image.tmdb.org/t/p/w200{actor.ProfilePath}")" alt="@actor.Name"/>
                        }
                        else
                        {
                            <img src="https://via.placeholder.com/200x300.png?text=No+Image" alt="No Image Available"/>
                        }
                        <p style="font-weight: bold">@actor.Name</p>
                        <p>@actor.Character</p>
                        <p>@actor.KnownForDepartment</p>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No actors available for this movie.</p>
        }
    </div>
}