@page "/wishlist"
@using CodeTestWexo.Interfaces
@rendermode InteractiveServer
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IMovieRepository MovieRepository
@inject ISerieRepository SerieRepository
@inject NavigationManager Navigation

<h3>Your Wishlist</h3>

<div class="wishlist-container">
    
    @if(movieWishList.Any() || serieWishList.Any()) 
    {
        @foreach (var movie in movieWishList)
        {
            <div class="wishlist-item">
                <a @onclick="() => RedirectToMoviePage(movie.Id)">
                    <img src="@($"https://image.tmdb.org/t/p/w200{movie.PosterPath}")" alt="@movie.Title" class="wishlist-poster"/>
                </a>
                <div class="movie-details">
                    <p>@movie.Title</p>
                    <button @onclick="() => RemoveMovieFromWishlist(movie.Id)">Remove from Wishlist</button>
                </div>
            </div>
        }
        
        @foreach (var serie in serieWishList)
        {
            <div class="wishlist-item">
                <a @onclick="() => RedirectToMoviePage(serie.Id)">
                    <img src="@($"https://image.tmdb.org/t/p/w200{serie.PosterPath}")" alt="@serie.Title" class="wishlist-poster"/>
                </a>
                <div class="movie-details">
                    <p>@serie.Title</p>
                    <button @onclick="() => RemoveSerieFromWishlist(serie.Id)">Remove from Wishlist</button>
                </div>
            </div>
        }
        
    }
    else
    {
    <p>Add something to your wishlist...</p>
    }
</div>
